<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="about-text">
        <div>
          <br />
          <h4>
            건국대학교 전자공학부를 졸업하고 웹 프로그래밍에 흥미를 느껴
            Back-End 개발자 취업을 목표로 공부하고 있습니다.
          </h4>
          <br />
          <h4>
            꼼꼼함과 빠른 흡수력이 제 장점이며, 항상 어떻게하면 더 좋은 코드를
            짤 수 있을까 고민하고 있습니다.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
