<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <div class="about-text">
        <div>
          <br />
          <h4>코딩을 좋아합니다.</h4>
          <br />
          <h4>
            대학교 전공수업때 들었던 프로그래밍 과목에서 흥미를 느꼈고 적성에
            맞다고 생각했습니다.
          </h4>
          <br />
          <h4>그 이후로도 이따금씩 코딩과 관련된 일들을 해보려고 했으며,</h4>
          <br />
          <h4>
            최근에 집중적으로 프로그래밍 공부를 하면서 이 길이 제가 가야 할
            길이라는걸 느꼈습니다.
          </h4>
          <br />
          <h4>
            떠올린 아이디어들을 기능으로 구현하는 과정에 빠져들어 새벽 늦게까지
            매달릴 정도로 재밌게 했었고,
          </h4>
          <br />
          <h4>
            코드의 질을 위해 리팩토링하는 과정도 수시로 할 정도로 좋아합니다.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
