<!-- Skills Section -->
<section id="skills">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="portfolio-flex-row">
      <h3>JAVA(11)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 기본적인 자료구조에 대해 이해하고 있고 적재적소에 활용
        가능합니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 기본적인 문법은 숙지하고 있고 람다, Optional, 스트림 에 대해서
        심층적으로 공부중입니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>SpringBoot(2.7.3)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - MVC 패턴을 적용해 Controller - Service - Mapper 로 이어지는
        디자인패턴을 구현해본적이 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - SpringSecurity와 JWT토큰을 이용해 권한이 필요한 기능의
        사용자검증 로직을 구현해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>MyBatis</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - Mybatis xml파일의 기본적인 사용법에 대해 숙지하고 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>MySql(8.0)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>&emsp; - 정규화 과정을 통해 DB를 설계해본 적 있습니다.</h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - .xml 쿼리문을 통해 게시판의 기본적인 CRUD외에 검색기능 등 을
        구현해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>그 외(Github, Amazon S3, RestApi 등)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>&emsp; - GitHub를 통해 협업 및 버전관리를 해본적 있습니다.</h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 아마존 S3를 이용해 이미지 저장기능을 구현해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - Get, Post, Put, Delete 4가지 Method를 이용해 SpringBoot와
        React간의 통신을 구현해본적 있습니다.
      </h4>
    </div>
  </div>
</section>
