<!-- Skills Section -->
<section id="skills">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Skills</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="portfolio-flex-row">
      <h3>JAVA(11)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>&emsp; - 기본적인 문법(자바 8버전 이전)에 대해 이해하고 있습니다.</h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 현재 자바 8버전의 문법(Lambda와 함수형 인터페이스, Stream,
        Optional 등) 공부중입니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 자주 사용하는 자료구조에 대해 이해하고 있고 적재적소에 활용
        가능합니다.(List, Map 등)
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>SpringBoot(2.7.3)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - MyBatis와 Jpa 두가지를 동시에 사용한 서비스를
        구현해봤습니다.(본인은 MyBatis 사용)
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - RestApi를 활용하여 React - SpringBoot(Controller - Service -
        Mapper)로 이어지는 서비스를 구현 해봤습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - @RestControllerAdvice를 이용해 Controller와 Service에서
        발생하는 예외들을 처리해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>MyBatis</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>&emsp; - ConnectorJ를 이용해 MySql과 연결하는것을 구현해봤습니다.</h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>MySql(8.0)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>&emsp; - 정규화 과정을 통해 DB를 설계해본 적 있습니다.</h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 쿼리문을 통해 게시판의 기본적인 CRUD외에 검색기능 등 을
        구현해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h3>그 외(Github, Amazon S3, RestApi 등)</h3>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - React의 컴포넌트를 활용해 게시판의 Front-End 부분과 Back-End
        부분을 구현해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 비록 Branch전략을 적용해보지는 못했지만 Github를 통해 협업
        프로젝트를 해본 적 있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - 아마존 S3를 저장소로 활용해 이미지 저장 기능을 구현해본 적
        있습니다.
      </h4>
    </div>
    <br />
    <div class="portfolio-flex-row">
      <h4>
        &emsp; - HTTP Method(Get, Post, Put, Delete)를 이용해 SpringBoot와
        React간의 RestApi통신을 구현해본적 있습니다.
      </h4>
    </div>
  </div>
</section>
